.container{
  font-family:sans-serif;
}
.heading img{
  width:100%;
  max-height:555px;
}
.heading{
  position: relative;
  text-align:center;
  margin-bottom: 3px;
  color: white;
  text-shadow: 1px 1px;
}
h1{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}
.card img{
  width: 100%;
  max-height: 200px;
}
.card{
  min-height:100%;
  margin-top: 10px;
}

.row {
  margin-top: 15px;
}


