.page{
  max-width:80%;
  font-family:sans-serif;
  margin:auto;
}
.heading img{
  width:100%;
  max-height:555px;
}
.heading{
  position: relative;
  text-align:center;
  margin-bottom: 5em;
  color: white;
  text-shadow: 1px 1px;
}
h1{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}
.animal img{
  max-width: 250px;
  max-height: 250px;
}
div{
  border:solid black 1px;
}